# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual envs
.venv/
venv/
env/

# Editors/IDE
.vscode/
.idea/

# Rasa artifacts
models/
.rasa/

# Local data/output
bookings.txt


